---
layout: base-layout.njk
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---
<div class="post-list">
  {% for post in posts %}
    <article class="post">
      <h2>
        <a href="{{ post.url | url }}">{{ post.data.title }}</a>
      </h2>
      <div class='post-date'>{{ post.date | dateReadable }}</div>
      <div class='post-excerpt'>{% excerpt post %}</div>
    </article>
  {% endfor %}
</div>
