/* ================ */
/* = The 1Kb Grid = */     /* 12 columns, 60 pixels each, with 20 pixel gutter */
/* ================ */

.grid_1 { width:60px; }
.grid_2 { width:140px; }
.grid_3 { width:220px; }
.grid_4 { width:300px; }
.grid_5 { width:380px; }
.grid_6 { width:460px; }
.grid_7 { width:540px; }
.grid_8 { width:620px; }
.grid_9 { width:700px; }
.grid_10 { width:780px; }
.grid_11 { width:860px; }
.grid_12 { width:940px; }

.column {
	margin: 0 10px;
	overflow: hidden;
	float: left;
	display: inline;
}
.row {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}
.row .row {
	margin: 0 -10px;
	width: auto;
	display: inline-block;
}

/* ============== */
/* = Custom Css = */
/* ============== */

html {
  min-height: 100%;
  margin-right: 1px;
  overflow-y: scroll;
}

h3, h4, h5, h6 {
  margin: 5px auto 0 auto;
  color: #555;
  font-family: 'Times New Roman', Times, serif;
}

hr {
  color: #fff;
  width: 945px;
}

a:link, a:visited , a:hover , a:active{
  text-decoration: none;
}

.nav a:link, .nav a:visited , .nav a:hover , .nav a:active{
  font-size: 1em;
  font-family: arial, helvetica, sans-serif;
}

#header {
  font-family: Helvetica;
}

#subHeading {
  margin-top: -20px;
  color: #999;
}

#footer {
  color: #555;
  font-size: 15px;
}

p {
  font-family: Georgia, times, serif;
  letter-spacing: .8px;
}

#codeContent h4 {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.highlight {
  background: #99ee22;
  font-size: .75em;
}

.hideit {
  display: none;
}

/* CODE PAGE CSS */
pre {
  line-height: 1.4;
  border: 1px solid #ccc;
  background: #000;
  color: #fff;
}

.codeBlock {
  font-size: .9em;
}

ol {
  font-size: .9em;
  line-height: 1.75;
}
